.clearfix {
  clear: both;
}

a {
  color: #666;
}

.main-header {
  padding-top: 0;
}
.main-header .top-search-holder .search-area .search-button {
  cursor: pointer;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li {
  margin-bottom: 4px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header {
  line-height: 25px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header a {
  padding: 0;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a {
  padding: 3px 0;
  cursor: pointer;
}

.social a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.copyright-bar {
  padding: 15px 0;
}
.copyright-bar .copyright-text {
  line-height: 30px;
  color: #999;
}

.sidebar-menu .accordion .accordion-group .accordion-heading a {
  line-height: 28px;
}
.sidebar-menu .accordion .accordion-group .accordion-body .accordion-inner {
  margin-bottom: 0 !important;
}
.sidebar-menu a.active {
  color: #0f6cb2 !important;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

.single-product .product-tabs .product-content {
  padding: 20px;
  font-size: 14px;
}

.avatar {
  width: 156px;
  height: 156px;
  border-radius: 100%;
  margin: 10px auto 25px;
}
.avatar img {
  width: auto;
}

.single-product .hot-deals {
  margin-top: 0;
}
.single-product .product-info .description-container {
  font-size: 14px;
}

.scroll-tabs .nav-tab-line li.active a {
  font-weight: bold;
  color: #0f6cb2;
}

.top-cart-row .dropdown-cart .dropdown-menu {
  padding: 15px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item .col-xs-8 {
  padding-left: 0;
}

.product-info .quantity-container .checkout-btn {
  padding: 6px 14px;
}

.shopping-cart .cart-image img {
  width: 100px;
}

.body-content .shopping-cart .shopping-cart-table .table-responsive table > thead > tr > th {
  padding: 10px;
}

.table > tbody > tr > td {
  padding: 10px;
}

.shopping-cart .shopping-cart-table table tbody tr .romove-item a {
  cursor: pointer;
}

.shopping-cart .cart-shopping-total table thead tr th {
  padding: 24px 20px;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total, .shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  text-align: left;
}

.shopping-cart .estimate-ship-tax table tbody tr td .form-group label.error {
  color: red;
}

.inner-left-md {
  padding: 0;
  display: inline-block;
  float: right;
}

#frm-crawl-information label.error {
  font-weight: normal;
  color: red;
  margin-bottom: 0;
  margin-top: 5px;
}

p.text-danger {
  font-size: 14px;
}

.modal-crawl-information .modal-dialog {
  max-width: 450px;
}
.modal-crawl-information .modal-header {
  padding: 10px;
  background: #fdd922;
  color: #000;
  border-bottom: 1px solid #fff;
}
.modal-crawl-information .modal-header .modal-title {
  font-size: 16px;
  text-transform: uppercase;
}
.modal-crawl-information .modal-body {
  background: #fdd922;
  padding: 15px 15px 1px 15px;
}
.modal-crawl-information .modal-body p {
  color: #000;
  font-size: 14px;
}
.modal-crawl-information .modal-body .form-group label {
  color: #000;
}
.modal-crawl-information .modal-body .form-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
}
.modal-crawl-information .modal-footer {
  background: #fdd922;
  border-top: none;
  padding-top: 0;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Transparent Overlay */
/* :not(:required) hides these rules from IE9 and below */
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}