.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li {
  margin-bottom: 4px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header {
  line-height: 25px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header a {
  padding: 0;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a {
  padding: 3px 0;
}