a
  color: #666
.main-header
  padding-top: 0
  .top-search-holder .search-area
    .search-button
      cursor: pointer
    .categories-filter .dropdown-menu li
      margin-bottom: 4px
      &.menu-header
        line-height: 25px
        a
          padding: 0
      a
        padding: 3px 0
        cursor: pointer
.social a
  width: 30px
  height: 30px
  line-height: 30px
.copyright-bar
  padding: 15px 0
  .copyright-text
    line-height: 30px
    color: #999

.sidebar-menu
  .accordion
    .accordion-group
      .accordion-heading
        a
          line-height: 28px
      .accordion-body
        .accordion-inner
          margin-bottom: 0 !important
  a.active
    color: #0f6cb2 !important

.dropdown-menu>li>a
  cursor: pointer

.single-product .product-tabs .product-content
  padding: 20px

.avatar
  width: 156px
  height: 156px
  border-radius: 100%
  margin: 10px auto 25px
  img
    width: auto

.single-product
  .hot-deals
    margin-top: 0

.scroll-tabs
  .nav-tab-line
    li.active
      a
        font-weight: bold
        color: #0f6cb2

.top-cart-row
  .dropdown-cart
    .dropdown-menu
      padding: 15px
      .cart-item
        .col-xs-8
          padding-left: 0

.product-info
  .quantity-container
    .checkout-btn
      padding: 6px 14px

.shopping-cart
  .cart-image
    img
      width: 100px

.body-content .shopping-cart .shopping-cart-table .table-responsive table > thead > tr > th
  padding: 10px

.table > tbody > tr > td
  padding: 10px

.shopping-cart .shopping-cart-table table tbody tr .romove-item a
  cursor: pointer